.reservationsContainer {
  height: calc(100vh - 5em) !important;
  margin: 0.5em 0.5em 0.5em 0;
  background-color: #f5f7fa;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.reservationsHeading {
  font-size: 1.5em;
  font-weight: bold;
  padding: 1em;
}
.reservationsForm {
  padding: 2em;
  display: flex;
  background-color: white;
}
.reservedCustomersContainer {
  overflow: auto;
}
.reservedCustomersHeading {
  font-size: 1.2em;
  font-weight: bold;
  padding: 1em;
}
.reservedCustomerCard {
  padding: 0.6em 2em;
  font-size: 1em;
}
.reservedCustomerNameCard {
  background-color: white;
  cursor: pointer;
  padding: 0.6em;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 #dde3ed, 0 6px 20px 0 #dde3ed;
  transition: all 0.4s ease-in-out;
}
.reservedCustomerNameCard:hover {
  transform: scale(1.1, 1.1);
}
