.sidenavContainer {
  background-color: #262e36;
  color: #d1d9e5;
  width: 12em;
  height: calc(100vh - 5em) !important;
  margin: 0.5em;
}
.sidenavContainerOnClick {
  background-color: #262e36;
  color: #d1d9e5;
  width: 4em;
  height: calc(100vh - 5em) !important;
  margin: 0.5em;
}
.sidenavList {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.sidenavListItem {
  cursor: pointer;
  padding: 1.5em;
}
.active {
  background-color: blue;
  color: white;
}

.svg-inline--fa {
  width: 1em;
  padding: 0 1.5em 0 0;
}
.sideNavMenuItemName {
  display: none;
}

.sideNavToggleIcon {
  cursor: pointer;
  position: absolute;
  bottom: 1.5em;
  padding-left: 1.5em;
}

@media (max-width: 320px) {
  .sidenavContainer {
    display: none;
  }
}
