body {
  font-family: Lato;
  padding: 0;
  margin: 0;
  background-color: #dde3ed;
  color: #353d45;
}
.homeContainer {
  display: flex;
}
a {
  text-decoration: none;
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 0.3em;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 5px 5px 5px #edf2f7;
  border-radius: 10px;
  /* box-shadow: 0 4px 8px 0 #edf2f7, 0 6px 20px 0 #edf2f7; */
  transition: all 0.4s ease-in-out;
}
::-webkit-scrollbar-track:hover {
  transform: scale(1.1, 1.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #353d45;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #353d45;
  transform: scale(1.1, 1.1);
}

input {
  border: none;
  padding: 1em 0 0 0;
  border-bottom: 2px solid #edf2f7;
  background-color: inherit;
}
input:focus {
  outline: none;
  padding: 1em 0 0 0;
  border-bottom: 2px solid #353d45;
}
button {
  border: none;
  background-color: #353d45;
  color: #edf2f7;
  border-radius: 0.35em;
  cursor: pointer;
  margin-left: 0.2em;
  font-size: 0.6em;
  font-weight: bold;
  padding: 1em;
}
